.ff_montL {
	font-family: montserratlight, sans-serif;
}
.ff_montR {
	font-family: montserratregular, sans-serif;
}
.ff_raleR {
	font-family: ralewayregular, sans-serif;
}
.ff_raleM {
	font-family: ralewaymedium, sans-serif;
}
.ff_raleSB {
	font-family: ralewaysemibold, sans-serif;
}
.ff_roboR {
	font-family: robotoregular, sans-serif;
}
.fc_FF{
	color: #FFFFFF;
}
.fc_55{
	color: #555555;
}
.fc_00{
	color: #000000;
}
.fc_C7{
	color: #C7B299;
}
.fc_8C{
	color: #8C8C8C;
}
.fc_61{
	color: #615855;
}
.fc_D1{
	color: #D1D1D1;
}
.fc_36{
	color: #363636;
}
.fc_36{
	color: #BAA78F;
}